.container {
  display: flex;
  flex-direction: column;
}

.container button {
  border-radius: 10px;
  border: 2px solid black;
  background: white;
  padding: 5px 24px;
  cursor: pointer;
  font-size: 15px;
}
